**/.DS_Store
data/auto
data/nodesDetails
data/weights.ckpt
data/glove.6B.100d.txt
data/fixedNodes_camera.csv
data/.DS_Store
**/__pycache__/
.ipynb_checkpoints/
lightning_logs/
weights_wpix_manual_ckpt.ckpt
list_avg_pr.pkl
*.csv
data/_nodesDetails/
data/groundtruth/
data/weights_old.ckpt
data/last.ckpt
model_structure
model_structure.png
data/movie/
data/node_details/
data/weights*.ckpt
data/English_charDict.pkl
data/HTMLTagDict.pkl
data/book/
data/camera/
data/job/
data/nbaplayer/
data/restaurant/
data/university/
data/last*.ckpt
